body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #000000;
}

header {
  
  background-color: #011c28;
  color: rgb(99, 30, 210);
  text-align: center;
  padding: 05px 0;
}

section {
  
  padding: 20px;
  background: #fff;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background: #222;
  color: #fff;
  text-align: left;
  padding: 15px 0;
}

h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 5px;
}
